.body {
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.Login-user {
    background-color:white;
    max-width: 400px;
    margin: 0;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Login-user h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(22, 27, 27, 0.842);
    text-transform: capitalize;
}

.addUser .input {
    align-items: center;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.addUser .input label {
    align-self: flex-start;
    display: block;
    font-weight: 500;
    width: 100%;
    color: #5c5b5b;
}

.addUser .input input{
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.addUser .input button {
    padding: 10px;
    color: white;
    background-color: rgb(48, 23, 187);
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.Login p {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .Login a {
    color: #1bd434;
    text-decoration: none;
  }
